/* Section: Hero */

#hero {
  height: 100dvh;
}

#hero .bg {
  overflow: visible;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 100%;
}

#hero .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

#hero .wrap {
  height: calc(100% - 150px);
  max-width: var(--max-width);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px;
}

#hero .text {
  text-align: center;
  color: var(--secondary);
}

#hero .text h2 {
  font-size: 225%;
}

#hero .text p.desc {
  margin: 25px 0 50px;
}

#hero .text a.button {
  backdrop-filter: blur(10px);
  font-size: 110%;
  color: #fff;
  background: #ffffff3d;
  display: inline-block;
  padding: 15px 50px 10px;
  border-radius: 10px;
  border: 2px solid #fff;
}

/* Cup */

#cup {
  padding: 30px;
}

#cup h2 {
  font-size: 200%;
  text-align: center;
  margin-bottom: 30px;
}

#cup .wrap {
  max-width: 1100px;
  margin: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 2fr 1.5fr 2fr;
}

#cup .left {
  gap: 30px;
  text-align: right;
  display: grid;
}

#cup .right {
  gap: 30px;
  display: grid;
}

#cup .item-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cup .item-text img {
  width: 50px;
}

#cup .item-text p {
  opacity: .8;
  font-size: 90%;
}

/* Gallery */

#gallery {
  padding: 30px;
}

#gallery .wrap {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1.5fr 2fr;
  gap: 20px;
}

#gallery img {
  min-height: 150px;
  height: 100%;
  width: 100%;
  background: gray;
  object-fit: cover;
}

#gallery .wrap > div {
  display: grid;
  gap: 20px;
}

/* Recent */

#recent {
  padding: 30px;
}

#recent .wrap {
  max-width: 1100px;
  margin: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

/* Product */

.product {
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  text-align: center;
  display: grid;
}

.product .img {
  padding: 30px;
}

.product .img img {
  width: 100%;
  height: auto;
}

.product .category {
  font-size: .7rem;
  margin: 0 10px;
  opacity: .8;
}

.product .name {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 7px 10px;
}

.product .price {
  margin-bottom: 10px;
}

.product .action {
  cursor: pointer;
  display: flex;
  margin: 10px 20px 15px;
  justify-content: space-between;
  font-size: 0.8rem;
  align-items: center;
}

.product .action .add {
  display: flex;
  gap: 8px;
  line-height: 01;
  align-items: center;
}

.product .action .add i {
  margin-top: -4px;
}

.product .action .fav {
}

.product .action .fav:hover {
  color: red;
}

.product .action .fav:hover i:before {
  font-weight: bold;
}

/* Contact Info */

#location {
  padding: 30px;
}

#location > .wrap {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 30px;
}

#location .map {}

#location .map iframe {
  width: 100%;
  height: 100%;
}

#location .address {
  display: grid;
  gap: 30px;
}

#location .address .wrap {
  display: grid;
  gap: 15px;
}

#location .address p {
  display: grid;
  grid-template-columns: 40px calc(100% - 40px);
}

#location .address p i {
  color: var(--primary);
  font-size: 20px;
  text-align: center;
}

#location .address p span {
  margin-left: 10px;
}

/* Responsive */

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 768px) {
  #cup .wrap {
    position: relative;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  #cup .left {
    text-align: left;
    grid-area: 1 / 2 / 2 / 3;
  }
  #cup .mid {
    grid-area: 1 / 1 / 3 / 2;
  }
  #cup .mid img {
    position: sticky;
    top: 90px;
  }
}

@media screen and (min-width: 1281px) {
}
